@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-header {
  background: linear-gradient(to bottom left, #7862f5, #addde2);
  position: absolute;
  width: 100%;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px 100px 150px;
  top: 0;
}

.version {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.slider {
  margin-top: 80px;
  position: relative;
  z-index: 5;
}

h1 {
  font-size: 25px;
  margin: 0 20% 0 0;
  display: inline-block;
  font-family: 'Dancing Script', cursive;
}

h2 {
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
  color: #fff;
  font-weight: 400
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 35px;
  font-size: 12px;
  text-align: center;
  background: #343241;
  color: rgb(182, 182, 182)
}

footer span {
  color: #6348ff;
}

@media only screen and (max-width: 650px) {
  .App-header {
    padding: 10px 10px 80px;
  }

  h1 {
    margin: 0 15% 0 0
  }

  .slider {
    margin-top: 50px
  }

  .version {
    position: static;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 15px
  }
}